<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Static Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{{>styleandjs}}
</head>
<body>

{{>header}}
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1 class="theme">This is 404 page</h1>
        <img class="img-fluid" src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln" alt="404" />
    </div>
    <div class="col-sm-12">
      <h3>Go to *Home Page <a class="btn btn-primary" href="/">Click Here</a></h3>
      
    </div>
 
  </div>
</div>
{{>footer}}
</body>
</html>
