<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Static Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{{>styleandjs}}
</head>
<body>

{{>header}}
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1 class="theme">This is our About page</h1>
    </div>
    <div class="col-sm-4">
      <img class="img-fluid img-fl" src="https://www.himflax.com/wp-content/uploads/2021/03/retina-logo.png" alt="Himflax">
    </div>
    <div class="col-sm-8">
      <h3>Column 2</h3>
      <p>Nak Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
{{>footer}}
</body>
</html>
