<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Static Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{{>styleandjs}}
</head>
<body>

{{>header}}
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <h1 class="theme">This is our Home page</h1>
    </div>
    <div class="col-sm-4">
      <h3>Home</h3>
      <p>So Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Nak Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Shi Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>
{{>footer}}
</body>
</html>
